@{
    ViewData["Title"] = "Details | Products";
}

@section Scripts {

    <script src="~/lib/plentz-jquery-maskmoney-cdbeeac/dist/jquery.maskMoney.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <script src="~/js/Registration/Product/Details.js"></script>

}

    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="~/css/Details/Products.css" />
        <link rel="stylesheet" href="~/css/Global/00_Global.css" />
    </head>
    <body>
        <div class="product-details-wrapper-details">

            <div class="product-details-left">

                <input type="hidden" id="product-id" />
                <input type="hidden" id="product-quantity" />

                <div class="product-details-big-image">
                    <img id="img-1" />
                </div>

                <div class="product-details-images">
                    <div class="product-details-small-image">
                        <img id="img-1-small" onmouseover="popImage(this.src)" />
                    </div>
                    <div class="product-details-small-image">
                        <img id="img-2" onmouseover="popImage(this.src)" />
                    </div>
                    <div class="product-details-small-image">
                        <img id="img-3" onmouseover="popImage(this.src)" />
                    </div>
                    <div class="product-details-small-image">
                        <img id="img-4" onmouseover="popImage(this.src)" />
                    </div>
                    <div class="product-details-small-image">
                        <img id="img-5" onmouseover="popImage(this.src)" />
                    </div>
                    <div class="product-details-small-image">
                        <img id="img-6" onmouseover="popImage(this.src)" />
                    </div>
                </div>

            </div>

            <div class="product-details-right">

                <div class="product-details-path">Home > Products > Electronics > Accessories & Supplies</div>

                <div class="product-details-name"></div>

                <div class="product-details-ratings">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>

                <div class="product-details-description"></div>
                <button class="btn-read-more" id="btn-read-more">Read more</button>

                <div class="product-details-price-stock">
                    <input type="text" id="product-details-price-hidden" style="display: none;" />

                    <div class="product-details-price"></div>
                    <div class="product-details-original-price"></div>
                    <div class="product-details-discount"></div>
                    <div class="product-details-stock"></div>
                </div>

                <div class="product-details-sizes">
                    <p>Sizes: </p>
                    <div class="product-details-display-size-active">M</div>
                    <div class="product-details-display-size">L</div>
                    <div class="product-details-display-size">X</div>
                    <div class="product-details-display-size">XL</div>
                </div>

                <div class="product-details-quantity">
                    <p>Quantity: </p>
                    <input type="number" id="input-product-quantity" min="1" value="1" />
                </div>

                <div class="product-details-btn-box">
                    <button class="product-details-btn-second" id="btn-add-to-cart">Add to cart</button>
                    <button class="product-details-btn-first" id="btn-buy-now">Buy now</button>
                </div>

            </div>

        </div>
    </body>