@{
    ViewData["Title"] = "Details | Manufacturers";
}

@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <script src="~/js/Registration/Manufacturer/Details.js"></script>

}

    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="~/css/Global/00_Global.css" />
    </head>
    <body>
        
        <div class="register-wrapper">

            <!--- Modal --->
            <div id="div_Message" class="modal">

                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p></p>
                </div>

            </div>
            <!--- Modal --->

            <form>

                <div class="register-form">

                    <i class="fa-solid fa-pencil fa-2x" style="margin-bottom: 30px;" id="edit"></i>

                    <div class="register-input-field">
                        <input type="text" style="text-transform: uppercase;" class="register-input" name="edt_Name" id="edt_Name" placeholder="Name" />
                    </div>

                    <div class="register-input-field">
                        <label>Brazilian company? </label>
                        <div style="margin-left: 10px;">
                            <input type="radio" class="register-input-radio" name="localition" id="localition_brazil" value="true" checked />
                            <label for="localition_brazil">Yes</label>
                        </div>

                        <div>
                            <input type="radio" class="register-input-radio" name="localition" id="localition_foreign" value="false" />
                            <label for="localition_foreign">No</label>
                        </div>
                    </div>

                    <div id="register-input-foreigh" style="display:none;">
                        <div class="register-input-field">
                            <input type="text" style="text-transform: uppercase;" class="register-input" name="edt_Cage" id="edt_Cage" placeholder="CAGE" />
                        </div>

                        <div class="register-input-field">
                            <input type="text" style="text-transform: uppercase;" class="register-input" name="edt_Sec" id="edt_Sec" placeholder="SEC" />
                        </div>
                    </div>

                    <div id="register-input-brazilian" style="display:none;">
                        <div class="register-input-field">
                            <input type="text" style="text-transform: uppercase;" class="register-input" name="edt_FedTaxPayer" id="edt_FedTaxPayer" placeholder="Federal taxpayer registration" />
                        </div>

                        <div class="register-input-field">
                            <input type="number" style="text-transform: uppercase;" class="register-input" name="edt_SttTaxPayer" id="edt_SttTaxPayer" placeholder="State taxpayer registration" />
                        </div>
                    </div>

                    @Html.Partial("~/Views/Contacts/ContactsStructure.cshtml")
                    
                    @Html.Partial("~/Views/Addresses/AddressesStructure.cshtml")

                    <div class="register-input-field">
                        <button type="button" style="display: none;" class="register-btn-submit" name="register" id="btn-register-update">Register</button>
                    </div>

                </div>

            </form>

        </div>
    </body>