@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

@{
    ViewData["Title"] = "Manufacturers";
}

@section Scripts {

    <script src="~/js/Registration/Manufacturer/Index.js"></script>

}

    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="~/css/Global/00_Global.css" />
    </head>
    <body>
        
        <div class="register-wrapper">

            <!--- Modal --->
            <div id="div_Message" class="modal">

                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p></p>
                </div>

            </div>
            <!--- Modal --->

            <div>
                @if (Accessor?.HttpContext?.Session.GetString("Role") == "Employee")
                {
                    <i class="fa fa-plus fa-2x" aria-hidden="true" onclick="window.location.href = '/Manufacturers/Details';"></i>
                }

                <h1 class="register-title">@ViewData["Title"]</h1>
            </div>

            <div id="content"></div>

        </div>

    </body>