/*
    Palette: https://coolors.co/palette/0081a7-00afb9-fdfcdc-fed9b7-f07167
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #ffffff;
    padding: 0 10px;
}

/************************************
 ********** Buttons style ***********
 ************************************/
.default-blue-button {
    margin: 1px auto;
    height: 40px;
    padding: 7px 10px;
    font-size: 15px;
    border: 0;
    background: #0081a7;
    color: #ffffff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    margin-right: 15px
}

    .default-blue-button:hover {
        background: #00AFB9;
    }

.default-white-button {
    margin: 1px auto;
    height: 40px;
    padding: 7px 10px;
    font-size: 15px;
    border: 0;
    background: #ffffff;
    color: #231F1F;
    cursor: pointer;
    border: 1px solid #7A7777;
    border-radius: 3px;
    outline: none;
    margin-right: 15px
}

    .default-white-button:hover {
        background: #D7F6F7;
    }

.default-button {
    width: 10%;
    height: 45px;
    padding: 10px 15px;
    font-size: 19px;
    border: 0;
    background: #0081a7;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

    .default-button:hover {
        background: #00AFB9;
    }
/************************************
 ********** Buttons style ***********
 ************************************/


/************************************
 ******** Register form style *******
 ************************************/
.register-wrapper {
    max-width: 500px;
    width: 100%;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.140);
}

    .register-wrapper .register-title {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 30px;
        text-transform: uppercase;
        text-align: center;
    }

    .register-wrapper .register-title-2 {
        font-size: 20px;
        font-weight: 700;
        margin-top: 30px;
        margin-bottom: 20px;
        text-transform: uppercase;
        text-align: center;
    }

    .register-wrapper .register-form {
        width: 100%;
    }

        .register-wrapper .register-form .register-alert {
            width: 100%;
            margin: 20px auto;
            align-items: center;
            background-color: #F07167;
            padding: 10px;
        }

            .register-wrapper .register-form .register-alert p {
                color: #ffffff;
                text-align: center;
            }

        .register-wrapper .register-form .register-success {
            width: 100%;
            margin: 20px auto;
            align-items: center;
            background-color: #00BA84;
            padding: 10px;
        }

/* Hide number input's spin box  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
/* Hide number input's spin box  */

.register-wrapper .register-form .register-success p {
    color: #ffffff;
    text-align: center;
}

.register-wrapper .register-form .register-input-field {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

    .register-wrapper .register-form .register-input-field .register-input-radio {
        margin: 10px;
    }

    .register-wrapper .register-form .register-input-field .register-input,
    .register-wrapper .register-form .register-input-field textarea {
        width: 100%;
        outline: none;
        border: 1px solid #d5dbd9;
        font-size: 17px;
        padding: 8px 10px;
        border-radius: 5px;
    }

    .register-wrapper .register-form .register-input-field textarea {
        resize: none;
        height: 125px;
    }

    .register-wrapper .register-form .register-input-field .register-input:focus,
    .register-wrapper .register-form .register-select-field select:focus {
        border: 2px solid #00afb9;
    }

    .register-wrapper .register-form .register-input-field .register-input:read-only,
    .register-wrapper .register-form .register-input-field textarea:disabled,
    .register-wrapper .register-form .register-select-field select:disabled {
        background-color: #D7F6F7;
    }

.register-wrapper .register-form .register-select-field {
    position: relative;
    width: 100%;
    height: 43px;
    margin-bottom: 20px;
}

    .register-wrapper .register-form .register-select-field select {
        -webkit-appearance: none;
        appearance: none;
        border: 1px solid #d5dbd9;
        font-size: 17px;
        width: 100%;
        height: 100%;
        padding: 8px 10px;
        border-radius: 5px;
        outline: none;
    }

    .register-wrapper .register-form .register-select-field:before {
        content: "";
        position: absolute;
        top: 15px;
        right: 10px;
        border: 8px solid;
        border-color: #d5dbd9 transparent transparent transparent;
        pointer-events: none;
    }

.register-wrapper .register-form .register-input-field .register-btn-submit {
    width: 100%;
    padding: 12px 10px;
    font-size: 20px;
    border: 0;
    background: #0081a7;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

    .register-wrapper .register-form .register-input-field .register-btn-submit:hover {
        background: #00AFB9;
    }

.register-wrapper .register-default-div {
    margin: 30px auto;
    text-align: center;
}

    .register-wrapper .register-default-div a {
        color: black;
        font-size: 15px;
        text-decoration: inherit;
    }

        .register-wrapper .register-default-div a:hover {
            color: #00afb9;
        }

.register-wrapper .register-table,
.register-wrapper .register-table .register-table-tr {
    border: 1px solid #d5dbd9;
}

.register-wrapper .register-table {
    width: 100%;
    font-size: 17px;
}

    .register-wrapper .register-table .register-table-th {
        height: 75px;
        text-align: center;
    }

    .register-wrapper .register-table .register-table-td {
        height: 50px;
        text-align: center;
    }

        .register-wrapper .register-table .register-table-td a {
            text-decoration: none;
            color: #000000;
        }

        .register-wrapper .register-table .register-table-td:hover a {
            color: #ffffff;
        }

        .register-wrapper .register-table .register-table-td:hover {
            background-color: #00AFB9;
            color: #ffffff;
            cursor: pointer;
        }
/************************************
 ******** Register form style *******
 ************************************/


/************************************
 *********** Side bar style *********
 ************************************/
.sidebar {
    position: fixed;
    width: 240px;
    left: -240px;
    height: 100%;
    background: #0081a7;
    transition: all .5s ease;
}

    .sidebar header {
        font-size: 20px;
        color: #ffffff;
        line-height: 70px;
        text-align: center;
        background: #097090;
        user-select: none;
    }

    .sidebar a {
        display: block;
        height: 65px;
        width: 100%;
        color: #ffffff;
        line-height: 65px;
        padding-left: 30px;
        box-sizing: border-box;
        border-bottom: 1px solid #000000;
        border-top: 1px solid rgba(255, 255, 255, .1);
        border-left: 5px solid transparent;
        text-decoration: none;
        transition: all 5s ease;
    }

        .sidebar a i {
            font-size: 23px;
            margin-right: 16px;
            color: #ffffff;
        }

        .sidebar a span {
            font-size: 15px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #ffffff;
        }

#check {
    display: none;
}

label #btn, label #cancel {
    position: absolute;
    cursor: pointer;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #262626;
    margin: 15px 30px;
    font-size: 20px;
    background: #262626;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
}

label #cancel {
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ label #btn {
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
}

@media(max-width: 860px) {
    .sidebar {
        height: auto;
        width: 70px;
        left: 0;
        margin: 100px 0;
    }

    header, #btn, #cancel {
        display: none;
    }

    span {
        position: absolute;
        margin-left: 23px;
        opacity: 0;
        visibility: hidden;
    }

    .sidebar a {
        height: 60px;
    }

        .sidebar a i {
            margin-left: -10px;
        }

        .sidebar a:hover span {
            opacity: 1;
            visibility: visible;
        }

    a:hover {
        width: 200px;
        background: inherit;
    }
}
/************************************
 *********** Side bar style *********
 ************************************/

/************************************
 *********** Dropdown menu **********
 ************************************/
.action {
    position: fixed;
    top: 20px;
    right: 30px;
}

.profile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.action .profile {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.action .menu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #ffffff;
    transform: rotate(45deg);
}

.action .menu {
    position: absolute;
    top: 80px;
    right: -10px;
    padding: 10px 20px;
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.menu h1 {
    width: 100%;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding: 20px 0;
    color: #555;
    line-height: 1.2em;
}

.menu span {
    font-size: 15px;
    color: #cecece;
    font-weight: 400;
}

.menu .menu-item {
    text-decoration: none;
    color: #000000;
}

.menu ul li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}

    .menu ul li:hover {
        opacity: 1;
    }
/************************************
 *********** Dropdown menu **********
 ************************************/

/************************************
 ************ Tabs style ************
 ************************************/
.tabs {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    padding: 25px;
}

    .tabs input[type="radio"] {
        display: none;
    }

    .tabs label {
        padding: 25px;
        background: #00AFB9;
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;
    }

    .tabs .tab {
        width: 100%;
        padding: 20px;
        border: 2px solid #0081A7;
        order: 1;
        display: none;
    }

    .tabs input[type="radio"]:checked + label + .tab {
        display: block;
    }

    .tabs input[type="radio"]:checked + label {
        background: #0081A7;
    }
/************************************
 ************ Tabs style ************
 ************************************/

.user-logged {
    float: right;
    position: relative;
    text-align: right;
    margin-right: 20px;
    font-weight: bold;
    cursor: pointer;
}

    .user-logged:hover {
        color: #0081a7;
    }

.dropdown-content {
    float: right;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.user-content:hover .dropdown-content {
    display: block;
}

.user-content:hover .user-logged {
    background-color: #3e8e41;
}
