@section Scripts {

    <script src="~/js/Global/Default.js"></script>

}

    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="~/css/Global/00_Global.css" />
    </head>
    <body>

        <div class="register-wrapper" style="max-width: 1000px;">

            <h1 class="register-title" id="page-title"></h1>

            <div id="content"></div>

        </div>

    </body>