@{
    ViewData["Title"] = "Overview | Orders";
}

@section Scripts {

    <script src="~/lib/plentz-jquery-maskmoney-cdbeeac/dist/jquery.maskMoney.js" type="text/javascript"></script>
    <script src="~/js/Global/Orders.js"></script>
    <script src="~/js/Registration/Order/Overview.js"></script>

}

    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="~/css/Global/00_Global.css" />
        <link rel="stylesheet" href="~/css/Details/Products.css" />
        <link rel="stylesheet" href="~/css/Details/Overview.css" />
    </head>
    <body>

        <div class="product-details-wrapper-details" style="max-width: 1200px;">

            <input type="hidden" id="orderGuid">
            <input type="hidden" id="addressGuid">
            <input type="hidden" id="paymentGuid">

            <div class="product-details-left"></div>

            <div class="product-details-right" style="width: 40%; margin-left: 100px;"></div>

            <div class="overview-btns">
                <button type="button" name="finish-order" id="btn-finish-order">Finish order</button><br />
                <button type="button" name="alter-order" id="btn-alter-order">Alter order</button><br />
                <button type="button" name="cancel-order" id="btn-cancel-order">Cancel order</button>
            </div>

        </div>

    </body>