@{
    ViewData["Title"] = "Overview | Orders";
}

@section Scripts {
    
    <script src="~/js/Global/Orders.js"></script>
    <script src="~/js/Registration/Order/Overview.js"></script>

}

    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="~/css/Global/00_Global.css" />
        <link rel="stylesheet" href="~/css/Details/Overview.css" />
    </head>

    <div class="overview-wrapper">

        <div class="overview-left">
            Left.
        </div>

        <div class="overview-right">
            Right.
        </div>

    </div>