@{
    ViewData["Title"] = "Select pay | Orders";
}

@section Scripts {

    <script src="~/js/Registration/Order/SelectPay.js"></script>

}

    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="~/css/Global/00_Global.css" />
    </head>
    <body>
        <div class="register-wrapper">

            <div>
                <h1 class="register-title">Select pay</h1>
            </div>

            <form>

                <div class="register-form">
                </div>

            </form>

        </div>
    </body>