/*
    Palette: https://coolors.co/palette/0081a7-00afb9-fdfcdc-fed9b7-f07167
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

#register-items-card {
    padding: 30px;
    border: 1px solid #00afb9;
    margin-bottom: 30px;
}

.item-title {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 13px;
}

.item-title:hover {
    color: #00afb9;
}

.item-qtd,
.item-price,
.item-amount {
    display: inline-block;
    margin-right: 20px;
}

.item-price {
    font-size: 15px;
}

.item-amount {
    font-weight: bold;
}

#card-details {
    margin: 20px auto;
    width: 100%;
}

.card-input-field {
    margin-bottom: 15px;
}

.card-input-field label {
    display: inline-block;
    text-align: right;
    width: 140px;
    margin-right: 20px;
}

.card-info-input,
.card-info-select,
.card-info-input-sm {
    outline: none;
    padding: 4px 5px;
    border: 1px solid #d5dbd9;
    border-radius: 5px;
}

.card-info-select {
    width: 44%;
}

.card-info-input-sm {
    width: 96px;
}

.card-info-input:hover,
.card-info-input-sm:hover {
    border: 1px solid #00afb9;
}