/*
    Palette: https://coolors.co/palette/0081a7-00afb9-fdfcdc-fed9b7-f07167
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #ffffff;
    padding: 0 10px;
}

.shop-cart-wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.140);
}

h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
}

#tabs {
    width: 70%;
    padding: 10px;
    margin: 10px auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.140);
}

.tab-list {
    list-style-type: none;
    display: inline;
}

.tab-list li {
    display: inline;
}

.tab-list a {
    text-decoration: inherit;
}