@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

@{
    ViewData["Title"] = "Subcategories";
}

@section Scripts {

    <script src="~/js/Registration/Subcategory/Index.js"></script>

}

    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="~/css/Global/00_Global.css" />
    </head>
    <body>
        @if (Accessor?.HttpContext?.Session.GetString("Role") == "Employee")
        {
            <button class="default-button" onclick="window.location.href = '/Generics/Index?process=2&method=0';">Register</button>
        }

        <div class="register-wrapper">

            <!--- Modal --->
            <div id="div_Message" class="modal">

                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p></p>
                </div>

            </div>
            <!--- Modal --->

            <div>
                <h1 class="register-title">@ViewData["Title"]</h1>
            </div>

            <div id="content"></div>

        </div>

    </body>