@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<div>
    <div>
        <h1>Login</h1>
    </div>

    <form>
        <div>
            <input type="text" name="emailUserName" id="emailemailUserName" placeholder="E-mail or username" />
        </div>
        <div>
            <input type="password" name="password" id="password" placeholder="Password" />
        </div>
        <div>
            <button type="submit" name="login" id="login">Login</button>
        </div>
    </form>
</div>