@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<div>
    <div>
        <h1>Login</h1>
    </div>

    <form id="loginForm" method="post" action="@Url.Action("Login", "Accounts")" enctype="application/x-www-form-urlencoded">
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div id="alert">
                @ViewBag.ErrorMessage
            </div>
        }
        <div>
            <input type="text" name="emailUsername" id="emailUsername" placeholder="E-mail or username" />
        </div>
        <div>
            <input type="password" name="password" id="password" placeholder="Password" />
        </div>
        <div>
            <button type="submit" name="login" id="login">Login</button>
        </div>
    </form>
</div>