@{
    ViewData["Title"] = "Orders & Returns";
}

@section Scripts {

    <script src="~/js/Registration/Account/OrdersReturns.js"></script>

}

    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="~/css/Global/00_Global.css" />
    </head>
    <body>

        <div class="register-wrapper" style="max-width: 900px;">

            <!--- Modal --->
            <div id="div_Message" class="modal">

                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p></p>
                </div>

            </div>
            <!--- Modal --->

            <div>
                <h1 class="register-title">@ViewData["Title"]</h1>
            </div>

            <div class="tabs" style="max-width: 700px;">
                <input type="radio" id="tabCompletedOrders" name="tabs" checked />
                <label for="tabCompletedOrders">Completted</label>

                <div class="tab tabCompletedOrders"></div>

                <input type="radio" id="tabPending" name="tabs" />
                <label for="tabPending">Pending</label>

                <div class="tab tabPending"></div>

                <input type="radio" id="tabCancelledReturned" name="tabs" />
                <label for="tabCancelledReturned">Cancelled & Returned</label>

                <div class="tab tabCancelledReturned"></div>
            </div>

        </div>

    </body>