@model Loja.Web.Presentation.Models.Registration.Address.Model.AddressesModel

@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <script src="~/js/Global/Addresses.js"></script>

}

<hr />
<h2 class="register-title-2">Address info</h2>

<div class="register-input-field">
    <input type="text" style="text-transform: uppercase;" class="register-input" name="address-postal-code" id="address-postal-code" placeholder="Postal code" />
</div>

<div class="register-input-field">
    <input type="text" style="text-transform: uppercase;" class="register-input" name="address-name" id="address-name" placeholder="Name" />
</div>

<div class="register-input-field">
    <input type="number" style="text-transform: uppercase;" class="register-input" name="address-number" id="address-number" placeholder="Number" />
</div>

<div class="register-input-field">
    <input type="text" style="text-transform: uppercase;" class="register-input" name="address-comment" id="address-comment" placeholder="Comment" />
</div>

<div class="register-input-field">
    <input type="text" style="text-transform: uppercase;" class="register-input" name="address-neighborhood" id="address-neighborhood" placeholder="Neighborhood" />
</div>

<div class="register-input-field">
    <input type="text" style="text-transform: uppercase;" class="register-input" name="address-city" id="address-city" placeholder="City" />
</div>

<div class="register-input-field">
    <input type="text" style="text-transform: uppercase;" class="register-input" name="address-state" id="address-state" placeholder="State" />
</div>

<div class="register-input-field">
    <input type="text" style="text-transform: uppercase;" class="register-input" name="address-country" id="address-country" placeholder="Country" />
</div>