@model IEnumerable<Loja.Web.Presentation.Models.Registration.Product.Model.CategoriesModel>

@{
    ViewData["Title"] = "Categories";
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Global/00_Global.css" />
</head>
<body>
    <button class="default-button" onclick="window.location.href = '/Categories/Register';">Register</button>

    <div class="register-wrapper">



    </div>
</body>