@model Loja.Web.Presentation.Models.Registration.Product.CategoriesModel

@{
    ViewData["Title"] = "Register | Categories";
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Global/00_Global.css" />
</head>
<body>
    <div class="register-wrapper">

        <div>
            <h1 class="register-title">Register</h1>
        </div>

    </div>
</body>