@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Loja</title>
    <link rel="stylesheet" href="~/css/Global/00_Global.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Loja.Web.Presentation.MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<!-------------------- Side bar -------------------->
<input type="checkbox" id="check" />

<label for="check">

    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>

</label>

<div class="sidebar">

    <header>Menu</header>

    <a href="/Home/Index">
        <i class="fas fa-qrcode"></i>
        <span>Home</span>
    </a>
    
    <a href="/Categories/Index">
        <i class="fas fa-sliders-h"></i>
        <span>Categories</span>
    </a>

    @if (Accessor.HttpContext.Session.Keys.Any())
    {
        <a href="/Subcategories/Index">
            <i class="fas fa-sliders-h"></i>
            <span>Subcategories</span>
        </a>

        <a href="/Manufacturers/Index">
            <i class="fas fa-sliders-h"></i>
            <span>Manufacturers</span>
        </a>
    }
    
    <a href="/Products/Index">
        <i class="fas fa-sliders-h"></i>
        <span>Products</span>
    </a>

</div>
<!-------------------- Side bar -------------------->

<!----------------- Dropdown Menu ------------------>
<div class="action">

    <div class="profile">
        <img src="~/media/avatar.png" />
    </div>

    <div class="menu">

        <h1>
            @if (Accessor.HttpContext.Session.Keys.Any())
            {
                @Accessor?.HttpContext?.Session.GetString("Name")
            }
            else
            {
                <a>Please, login ou create an account.</a>
            }

            </br>

            @if (Accessor?.HttpContext?.Session.GetString("Role") == "Employee")
            {
                <span>@Accessor?.HttpContext?.Session.GetString("Role")</span>
            }
        </h1>
        <ul>
            @if (!Accessor.HttpContext.Session.Keys.Any())
            {
                <li>
                    <a class="menu-item" href="/Accounts/Register">Sign up</a>
                </li>

                <li>
                    <a class="menu-item" href="/Accounts/Login">Login</a>
                </li>
            }
            else
            {
                <li>
                    <a class="menu-item" href="/Accounts/OrdersReturns">Orders & Returns</a>
                </li>
                
                <li>
                    <a class="menu-item" href="/ShoppingCarts/Details">Shopping cart</a>
                </li>

                <li>
                    <a class="menu-item" href="#" onclick="Logout()">Logout</a>
                </li>
            }
        </ul>

    </div>

</div>
<!----------------- Dropdown Menu ------------------>

<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Loja
        </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script src="~/lib/plentz-jquery-maskmoney-cdbeeac/dist/jquery.maskMoney.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Global/00_Global.js"></script>
    <script src="~/js/Global/Accounts.js"></script>
    <script src="~/js/Global/Addresses.js"></script>
    <script src="~/js/Global/Categories.js"></script>
    <script src="~/js/Global/Currencies.js"></script>
    <script src="~/js/Global/Contacts.js"></script>
    <script src="~/js/Global/Orders.js"></script>
    <script src="~/js/Global/Products.js"></script>
    <script src="~/js/Global/Payments.js"></script>
    <script src="~/js/Global/Manufacturers.js"></script>
    <script src="~/js/Global/Measurements.js"></script>
    <script src="~/js/Global/ShoppingCarts.js"></script>
    <script src="~/js/Registration/Image/Images.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>