@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Loja</title>
    <link rel="stylesheet" href="~/css/Global/00_Global.css" />
    <link rel="stylesheet" href="~/css/Global/Message.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Loja.Web.Presentation.MVC.styles.css" asp-append-version="true" />
</head>

<!-------------------- Side bar -------------------->
<input type="checkbox" id="check" />
<label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header>Menu</header>
    <a href="/Home/Index">
        <i class="fas fa-stream"></i>
        <span>Home</span>
    </a>
    <a href="/Manufacturers/Index">
        <i class="fas fa-stream"></i>
        <span>Manufacturers</span>
    </a>
    <a href="#">
        <i class="fas fa-stream"></i>
        <span>Products</span>
    </a>
    <a href="/Products/Index">
        <span>See all</span>
    </a>
    <a href="/Products/Process?edit=0">
        <span>Register</span>
    </a>
</div>
<!-------------------- Side bar -------------------->

<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Loja
        </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script src="~/lib/plentz-jquery-maskmoney-cdbeeac/dist/jquery.maskMoney.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Global/00_Global.js"></script>
    <script src="~/js/Global/Accounts.js"></script>
    <script src="~/js/Global/Addresses.js"></script>
    <script src="~/js/Global/Categories.js"></script>
    <script src="~/js/Global/Currencies.js"></script>
    <script src="~/js/Global/Contacts.js"></script>
    <script src="~/js/Global/Orders.js"></script>
    <script src="~/js/Global/Products.js"></script>
    <script src="~/js/Global/Payments.js"></script>
    <script src="~/js/Global/Manufacturers.js"></script>
    <script src="~/js/Global/Measurements.js"></script>
    <script src="~/js/Global/Message.js"></script>
    <script src="~/js/Global/ShoppingCarts.js"></script>
    <script src="~/js/Registration/Image/Images.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>