@{
    ViewData["Title"] = "Shopping Cart";
}

@section Scripts {

    <script src="~/js/Registration/ShoppingCart/Details.js"></script>

}

    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="~/css/Details/ShoppingCarts.css" />
    </head>
    <body>
        <div class="shop-cart-wrapper">

            <!--- Modal --->
            <div id="div_Message" class="modal">

                <div class="modal-content" style="width: 500px;">
                    <span class="close">&times;</span>
                    <p></p>
                </div>

            </div>
            <!--- Modal --->

            <h1>@ViewData["Title"]</h1>

            <input type="hidden" id="shopping-cart-id" />
            <input type="hidden" id="shopping-cart-guid" />

            <div class="shop-cart-content">
                <div class="btn-actions">
                    <button type="button" id="btn-ept-cart">Empty cart</button>
                    <button type="button" id="btn-buy-cart">Buy cart</button>
                </div>

                <hr />

                <div role="tab" id="tab-items">
                    <div class="shop-cart-card"></div>
                </div>
            </div>

        </div>
    </body>